# .github/workflows/ci.yml
name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint-and-test:
    runs-on: ubuntu-24.04
    steps:
      - name: apt-get stuff needed for vmec
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential gfortran openmpi-bin libopenmpi-dev libnetcdf-dev libnetcdff-dev liblapack-dev libscalapack-mpi-dev libhdf5-dev libhdf5-serial-dev git m4 libfftw3-dev libboost-all-dev libopenblas-dev

      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
  
      - name: which pip after python setup
        run: |
          python -m pip install --upgrade pip
          pip --version
  
      - name: env after adding python
        run: env

      - name: Download the VMEC2000 standalone repository
        run: git clone --depth=1 https://github.com/hiddensymmetries/VMEC2000.git
  
      - name: Install python dependencies
        run: |
          sudo apt-get install -y graphviz graphviz-dev
          pip install numpy cmake scikit-build f90nml ninja wheel setuptools pyevtk matplotlib mpi4py h5py f90wrap

      - name: Install booz_xform
        run: pip install -v git+https://github.com/hiddenSymmetries/booz_xform

      - name: ls in /usr/lib/x86_64-linux-gnu
        run: ls -l /usr/lib/x86_64-linux-gnu
  
      - name: Add to LD_LIBRARY_PATH so scalapack etc can be found
        run: echo "LD_LIBRARY_PATH=/usr/lib/x86_64-linux-gnu" >> $GITHUB_ENV
  
      - name: env after adding to LD_LIBRARY_PATH
        run: env
  
      - name: ls in VMEC2000/python 1
        run: ls -l VMEC2000/python

      - name: Configure and install VMEC2000 module
        run: |
          cd VMEC2000
          cp cmake/machines/ubuntu.json cmake_config_file.json
          cat cmake_config_file.json
          pip install .

      - name: Try importing vmec module
        run: python -c "import vmec; print('VMEC module imported successfully')"

      - name: Install ruff
        run: |
          pip install ruff

      - name: Run ruff
        run: |
          ruff check src/ tests/ --ignore F403,F405

      - name: Install package
        run: |
          pip install -e .

      - name: Run unit tests
        run: |
          pytest tests/ -v --tb=short
